@charset "UTF-8";
/* 引入其他 CSS 文件 */
.header .wrapper {
  height: 49.11458vw;
  background-color: #fa9618;
  background-image: url("/member/assets/images/bg-header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
  margin-bottom: -3.75vw;
  position: relative;
  padding-left: 19.27083vw;
  padding-top: 3.33333vw; }
  .header .wrapper .icon {
    width: 17.96875vw;
    height: 4.84375vw;
    background-image: url("/member/assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin-bottom: 6.45833vw;
    margin-left: 0.52083vw; }
  .header .wrapper p {
    font-size: 3.75vw;
    line-height: 1.2;
    padding-left: 0.3125vw;
    letter-spacing: 0.26042vw; }
  .header .wrapper .icon-list {
    width: 33.69792vw;
    height: 8.125vw;
    background-image: url("/member/assets/images/icon-list.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin-top: 2.08333vw;
    margin-bottom: 2.60417vw; }
  .header .wrapper .phone {
    width: 18.54167vw;
    height: 7.55208vw;
    background-image: url("/member/assets/images/phone.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top; }

.header .order {
  height: 6.45833vw;
  background-color: #e5e7e7;
  position: relative;
  padding-left: 21.04167vw; }
  .header .order input {
    width: 11.66667vw;
    height: 2.29167vw;
    margin-right: 1.875vw;
    text-align: center;
    font-size: 1.04167vw;
    line-height: 2.29167vw; }
    .header .order input:nth-child(3) {
      width: 8.54167vw;
      background: -webkit-gradient(linear, left top, right top, from(#f6640d), to(#f44a01));
      background: -o-linear-gradient(left, #f6640d, #f44a01);
      background: linear-gradient(to right, #f6640d, #f44a01);
      color: #fff;
      margin-right: 3.64583vw;
      cursor: pointer; }

.title {
  font-size: 2.5vw;
  color: #f45107;
  font-weight: 700;
  letter-spacing: 0.15625vw; }

.intro .train {
  padding: 5.72917vw 0 7.8125vw; }
  .intro .train .bg-train {
    width: 86.97917vw;
    height: 18.48958vw;
    margin: auto;
    margin-top: 2.8125vw;
    background-image: url("/member/assets/images/bg-train.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top; }

.intro .manage {
  background: -webkit-gradient(linear, left top, right top, from(#f5f5f7), to(#e7e6e9));
  background: -o-linear-gradient(left, #f5f5f7, #e7e6e9);
  background: linear-gradient(to right, #f5f5f7, #e7e6e9); }
  .intro .manage .left {
    padding-top: 2.60417vw;
    padding-left: 21.25vw; }
    .intro .manage .left .title {
      margin-left: 4.6875vw;
      margin-bottom: 3.125vw; }
    .intro .manage .left .bg-manage {
      width: 36.40625vw;
      height: 21.09375vw;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .intro .manage .left .bg-manage li {
        position: relative;
        padding-left: 1.5625vw;
        font-size: 1.45833vw;
        color: #595757;
        line-height: 1.2; }
        .intro .manage .left .bg-manage li:nth-child(odd) {
          width: 18.75vw;
          margin-right: 1.5625vw; }
        .intro .manage .left .bg-manage li:nth-child(even) {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
        .intro .manage .left .bg-manage li span {
          display: block;
          margin: auto;
          margin-bottom: 1.04167vw; }
        .intro .manage .left .bg-manage li:nth-child(1) span {
          width: 4.27083vw;
          height: 4.42708vw;
          background-image: url("/member/assets/images/bg-manage-1.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top;
          margin-top: 0.15625vw;
          margin-left: 5.20833vw; }
        .intro .manage .left .bg-manage li:nth-child(2) span {
          width: 3.54167vw;
          height: 4.0625vw;
          background-image: url("/member/assets/images/bg-manage-2.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top;
          margin-bottom: 1.82292vw;
          margin-left: 4.16667vw; }
        .intro .manage .left .bg-manage li:nth-child(3) span {
          width: 4.58333vw;
          height: 4.0625vw;
          background-image: url("/member/assets/images/bg-manage-3.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top;
          margin-top: 3.125vw;
          margin-left: 5.20833vw; }
        .intro .manage .left .bg-manage li:nth-child(4) span {
          width: 3.38542vw;
          height: 3.80208vw;
          background-image: url("/member/assets/images/bg-manage-4.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top;
          margin-top: 3.64583vw;
          margin-left: 4.16667vw; }
        .intro .manage .left .bg-manage li::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0.10417vw;
          height: 4.16667vw;
          width: 0.15625vw;
          background-color: #f44e00; }
  .intro .manage .right {
    width: 38.64583vw;
    height: 35.26042vw;
    background-image: url("/member/assets/images/bg-manage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top; }

.detail {
  padding: 5.72917vw 0 6.77083vw; }
  .detail .title {
    margin-bottom: 2.08333vw; }
  .detail p {
    font-size: 1.66667vw;
    color: #595757;
    line-height: 1.6; }
  .detail div.bg-detail {
    width: 53.07292vw;
    height: 183.38542vw;
    background-image: url("/member/assets/images/bg-detail.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    margin: auto;
    margin-top: 4.16667vw;
    margin-bottom: 2.08333vw; }
  .detail .note {
    font-size: 1.25vw; }

.service .top {
  height: 64.89583vw;
  background-image: url("/member/assets/images/bg-service-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left top;
  padding-top: 4.6875vw;
  padding-left: 30.20833vw;
  margin-bottom: -0.10417vw; }
  .service .top .title {
    margin-bottom: 2.08333vw; }
  .service .top p {
    color: #595757;
    font-size: 1.25vw;
    letter-spacing: 0.15625vw; }
    .service .top p:nth-child(3) {
      margin-bottom: 1.5625vw; }

.service .bottom {
  background: -webkit-gradient(linear, left top, right top, from(#f4f3f5), to(#dedde1));
  background: -o-linear-gradient(left, #f4f3f5, #dedde1);
  background: linear-gradient(to right, #f4f3f5, #dedde1);
  padding: 3.125vw 18.48958vw 6.77083vw; }
  .service .bottom .box {
    background-color: #fff;
    padding-top: 5.98958vw;
    padding-bottom: 5.98958vw; }
    .service .bottom .box .title {
      margin-bottom: 7.03125vw;
      text-align: center; }
    .service .bottom .box .service-list {
      padding-left: 4.375vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .service .bottom .box .service-list li {
        width: 24.27083vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .service .bottom .box .service-list li:not(:last-child) {
          margin-bottom: 5.20833vw; }
        .service .bottom .box .service-list li:nth-child(odd) {
          margin-right: 4.16667vw; }
        .service .bottom .box .service-list li span {
          width: 5.36458vw;
          height: 5.36458vw;
          display: inline-block;
          margin-right: 1.04167vw; }
        .service .bottom .box .service-list li div {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
        .service .bottom .box .service-list li p {
          color: #595757;
          line-height: 1.5; }
        .service .bottom .box .service-list li .service-title {
          font-size: 2.39583vw;
          font-weight: 600;
          margin-bottom: 2.5vw;
          background: -webkit-gradient(linear, left top, right top, from(#f94244), to(#ffa968));
          background: -o-linear-gradient(left, #f94244, #ffa968);
          background: linear-gradient(to right, #f94244, #ffa968);
          -webkit-background-clip: text;
          color: transparent;
          line-height: 1;
          position: relative; }
          .service .bottom .box .service-list li .service-title:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -0.78125vw;
            width: 100%;
            border-bottom: 0.10417vw dashed #000; }
        .service .bottom .box .service-list li:nth-child(1) span {
          background-image: url("/member/assets/images/1.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(2) span {
          background-image: url("/member/assets/images/2.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(3) span {
          background-image: url("/member/assets/images/3.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(4) span {
          background-image: url("/member/assets/images/4.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(5) span {
          background-image: url("/member/assets/images/5.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(6) span {
          background-image: url("/member/assets/images/6.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(7) span {
          background-image: url("/member/assets/images/7.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(8) span {
          background-image: url("/member/assets/images/8.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(9) span {
          background-image: url("/member/assets/images/9.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(10) span {
          background-image: url("/member/assets/images/10.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
        .service .bottom .box .service-list li:nth-child(11) span {
          background-image: url("/member/assets/images/11.png");
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: left top; }
.layui-m-layer{position:relative;z-index:19891014}.layui-m-layer *{-webkit-box-sizing:content-box;box-sizing:content-box}.layui-m-layermain,.layui-m-layershade{position:fixed;left:0;top:0;width:100%;height:100%}.layui-m-layershade{background-color:rgba(0,0,0,.7);pointer-events:auto}.layui-m-layermain{display:table;font-family:Helvetica,arial,sans-serif;pointer-events:none}.layui-m-layermain .layui-m-layersection{display:table-cell;vertical-align:middle;text-align:center}.layui-m-layerchild{position:relative;display:inline-block;text-align:left;background-color:#fff;font-size:14px;border-radius:5px;-webkit-box-shadow:0 0 8px rgba(0,0,0,.1);box-shadow:0 0 8px rgba(0,0,0,.1);pointer-events:auto;-webkit-overflow-scrolling:touch;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.2s;animation-duration:.2s}@-webkit-keyframes layui-m-anim-scale{0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}@keyframes layui-m-anim-scale{0%{opacity:0;-webkit-transform:scale(.5);transform:scale(.5)}100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}}.layui-m-anim-scale{animation-name:layui-m-anim-scale;-webkit-animation-name:layui-m-anim-scale}@-webkit-keyframes layui-m-anim-up{0%{opacity:0;-webkit-transform:translateY(800px);transform:translateY(800px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes layui-m-anim-up{0%{opacity:0;-webkit-transform:translateY(800px);transform:translateY(800px)}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}}.layui-m-anim-up{-webkit-animation-name:layui-m-anim-up;animation-name:layui-m-anim-up}.layui-m-layer0 .layui-m-layerchild{width:90%;max-width:640px}.layui-m-layer1 .layui-m-layerchild{border:none;border-radius:0}.layui-m-layer2 .layui-m-layerchild{width:auto;max-width:260px;min-width:40px;border:none;background:0 0;-webkit-box-shadow:none;box-shadow:none;color:#fff}.layui-m-layerchild h3{padding:0 10px;height:60px;line-height:60px;font-size:16px;font-weight:400;border-radius:5px 5px 0 0;text-align:center}.layui-m-layerbtn span,.layui-m-layerchild h3{-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.layui-m-layercont{padding:50px 30px;line-height:22px;text-align:center}.layui-m-layer1 .layui-m-layercont{padding:0;text-align:left}.layui-m-layer2 .layui-m-layercont{text-align:center;padding:0;line-height:0}.layui-m-layer2 .layui-m-layercont i{width:25px;height:25px;margin-left:8px;display:inline-block;background-color:#fff;border-radius:100%;-webkit-animation:layui-m-anim-loading 1.4s infinite ease-in-out;animation:layui-m-anim-loading 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.layui-m-layerbtn,.layui-m-layerbtn span{position:relative;text-align:center;border-radius:0 0 5px 5px}.layui-m-layer2 .layui-m-layercont p{margin-top:20px}@-webkit-keyframes layui-m-anim-loading{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes layui-m-anim-loading{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}.layui-m-layer2 .layui-m-layercont i:first-child{margin-left:0;-webkit-animation-delay:-.32s;animation-delay:-.32s}.layui-m-layer2 .layui-m-layercont i.layui-m-layerload{-webkit-animation-delay:-.16s;animation-delay:-.16s}.layui-m-layer2 .layui-m-layercont>div{line-height:22px;padding-top:7px;margin-bottom:20px;font-size:14px}.layui-m-layerbtn{display:box;display:-moz-box;display:-webkit-box;width:100%;height:50px;line-height:50px;font-size:0;border-top:1px solid #D0D0D0;background-color:#F2F2F2}.layui-m-layerbtn span{display:block;box-flex:1;-webkit-box-flex:1;font-size:14px;cursor:pointer}.layui-m-layerbtn span[yes]{color:#40AFFE}.layui-m-layerbtn span[no]{border-right:1px solid #D0D0D0;border-radius:0 0 0 5px}.layui-m-layerbtn span:active{background-color:#F6F6F6}.layui-m-layerend{position:absolute;right:7px;top:10px;width:30px;height:30px;border:0;font-weight:400;background:0 0;cursor:pointer;-webkit-appearance:none;font-size:30px}.layui-m-layerend::after,.layui-m-layerend::before{position:absolute;left:5px;top:15px;content:'';width:18px;height:1px;background-color:#999;-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform:rotate(45deg);border-radius:3px}.layui-m-layerend::after{-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}body .layui-m-layer .layui-m-layer-footer{position:fixed;width:95%;max-width:100%;margin:0 auto;left:0;right:0;bottom:10px;background:0 0}.layui-m-layer-footer .layui-m-layercont{padding:20px;border-radius:5px 5px 0 0;background-color:rgba(255,255,255,.8)}.layui-m-layer-footer .layui-m-layerbtn{display:block;height:auto;background:0 0;border-top:none}.layui-m-layer-footer .layui-m-layerbtn span{background-color:rgba(255,255,255,.8)}.layui-m-layer-footer .layui-m-layerbtn span[no]{color:#FD482C;border-top:1px solid #c2c2c2;border-radius:0 0 5px 5px}.layui-m-layer-footer .layui-m-layerbtn span[yes]{margin-top:10px;border-radius:5px}body .layui-m-layer .layui-m-layer-msg{width:auto;max-width:90%;margin:0 auto;bottom:-150px;background-color:rgba(0,0,0,.7);color:#fff}.layui-m-layer-msg .layui-m-layercont{padding:10px 20px}* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    font-family: "Microsoft YaHei", SimHei;
}

/* common */
ul, li {
    list-style: none;
}
.lf {
    float: left;
}
.rf {
    float: right;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.text-center { text-align: center; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

input, input:active, input:visited, input:hover, input:focus {
    border: none;
    outline: none;
}


/* color */
.color-white { color: #fff }
.color-orange { color: #f44900; }
.bg-grey { background-color: #e5e7e7; }


/* 引入其他 CSS 文件 */