// 定义颜色规范
$color-text: #bfbfbf;
$color-text-hover: #0085a1;

// 定义字体规范
$font-size-small-s  : 10px;
$font-size-small    : 12px;
$font-size-medium   : 14px;
$font-size-medium-x : 16px;
$font-size-large    : 18px;
$font-size-large-x  : 22px;